* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'inter', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
input,
select,
button,
option {
  background-color: #09090B;
  color: #FAFAFA;

  letter-spacing: -0.02em;
}

input,
select {
  all: unset
}

input,
select,
button {
  width: 100%;
}

#app {
  padding: 4rem 2rem;
  max-width: 32rem;

  margin: 0 auto;
}

#place {
  display: flex;
  align-items: center;
  gap: .8rem;

  padding: 2.2rem 1.6rem;

  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}

.fields {
  display: grid;
  gap: .8rem;
}

.field-wrapper {
  padding: 1.8rem;
  background-color: #09090B;

  border: 1px solid #27272A;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.field-wrapper:focus-within {
  outline: 2px solid yellowgreen;
}

button {
  margin-top: 1.2rem;
  border: none;
  padding: 1.2rem 2rem;
  background-color: #aff445;
  border-radius: 8px;

  font-weight: 600;
  font-size: 1.6rem;

  cursor: pointer;
  color: #132F00;
}

.card-bg {
  background: #18181B;

  box-shadow:
    0px 8px 8px rgba(0, 0, 0, 0.1),
    0px 4px 4px rgba(0, 0, 0, 0.1),
    0px 2px 2px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);

  border-radius: 12px;
}

main {
  margin-top: 3.2rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;

  margin-bottom: 2.4rem;
}

section {
  display: grid;
  gap: 1rem;
}

section input[type="checkbox"]{
  inset: 0;
  position: absolute;
}

section .card-bg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.6rem ;
}

section .card-bg:has(:checked) .active, section .card-bg .inactive{
  display: block;
}

section .card-bg:has(:checked) .inactive, section .card-bg .active{
  display: none;
}

section .card-bg > div{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

time {
  font-size: 1.4rem;
  color: #A1A1AB;
  text-align: right;
}

time.full {
  display: none;
}

